/* * {
    padding: 0;
    margin: 0;
} */
body {
  background-color: #fff1f0
}

.navbar-default {
  background-color: #ffdfdc;
  color: #6F3B62 !important;
  font-weight: bold;
  font-family: 'Lobster';
  font-size: 30px;
}

.navbar-brand {
  font-size: 30px;
  color: #6F3B62 !important;
  font-weight: bold;
  font-family: 'Lobster';
}

.pageHeading {
  font-family: 'Pacifico', cursive;
}
.container-fluid >.navbar-header {
  margin-left: 70px;
}

.navbar-right {
  margin-right: 50px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#homePic {
  width: 100%;
  height: 100%;
}

.brave {
  position: relative;
}

.text-block {
  position: absolute;
  color: #6F3B62 !important;
  bottom: 310px;
  right: 130px;
  padding-left: 62px;
  padding-right: 62px;
  border-radius: 10px;
  font-family: 'Lobster';
  font-size: 18px;
}
.intro {
  font-size: 28px;
}

.mainContent {
  margin-top: 4%;
}

#myImage {
  border-radius: 50%;
}

.aboutMe {
  font-size: 23px;
  font-family: 'Roboto';
  color: #454545;
}

#projectsPage {
  margin-top: 6%;
  margin-left: 50px;
  margin-right: 50px;
}

.projectDescription {
  font-size:15px;
}
.btn-primary {
  background-color: #5B2333;
  border-color: #5B2333;
}

#blogsPage {
  margin-top: 6%;
}

a {
  color: #6F3B62 !important;
}

#github {
  color: white;
}