body {
  margin: 0 auto;
  padding: 0;
  background-color: #e0e0e0 !important
}

p {
  line-height: 1.75;
}

.navbar-default {
  font-weight: bold;
  font-family: "Montserrat";
  text-transform: uppercase !important;
  color:#1e3f20 !important;
}

.navbar-brand {
  font-size: 30px;
  color: #1e3f20 !important;
  font-weight: bold;
  font-family: "Montserrat";
  margin-right: 50px;
}

.pageHeading {
  font-weight: 600;
  font-size: 30px;
  color: #1e3f20;
  font-family:"Montserrat" !important;
  margin-bottom: 40px;
  text-transform: uppercase !important;
  margin-top: 50px;
}
.container-fluid > .navbar-header {
  margin-left: 70px;
}

.navbar-right {
  margin-right: 50px;
  color: #1e3f20 !important;
}
.navbar-default .navbar-nav>li>a {
  color: #1e3f20 !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#homePic {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.brave {
  position: relative;
}

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-weight: 700;
  color: #1e3f20 !important;
  font-size: 65px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.qualification {
  font-size: 16px;
  padding: 15px 15px;
  font-style: italic;
  line-height: 22px;
  color: #5B2333 !important;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mainContent {
  margin-top: 4%;
}

#myImage {
  margin-top: 50px;
  border-radius: 68%;
  height: 300px;
  color: #1e3f20;
  margin-left: 100px;

}

.aboutMe {
  font-size: 17px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1e3f20 !important;
  margin-right: 50px;
  /* text-align: justify; */
}
.description {
  text-align: justify;
}

.projectsCard {
  border: 2px solid #1e3f20;
}

#projectsPage {
  /* margin-top: 10%; */
  margin-left: 50px;
  margin-right: 50px;
}


.projectDescription {
  font-size: 15px;
}

.btn-primary {
  background-color:#1e3f20;;
  border-color: #5b2333;
}

#blogsPage {
  margin-top: 6%;
}

.fab {
color: #1e3f20
}
#github {
  color: white;
}

.blogPost {
  text-align: justify;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1e3f20 !important;
  font-size: 14px;
}

.blogT {
  color: #5B2333 !important;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

